{{define "article-class"}}
about
{{end}}

{{define "hr-title"}}
About Me
{{end}}

{{define "article-title"}}
  <div class="fullstack">
    <h1>
      Fullstack Software 
    </h1>
    <h1 class="engineer">
      Engineer, and
    </h1>
  </div>
  <div class="rhcsa">
    <h1>
      RedHat Certified 
    </h1>
    <h1 class="rhcsys-admin">
      System Administrator
    </h1>
  </div>
{{end}}

{{define "article-desc"}}
  <h2>
    Focused primarily on tools, services, and systems operating in and around container contexts within Linux environments, coming from a background in web development
  </h2>
{{end}}

{{define "article-content"}}
				<p>
				With the ever-growing stacks that software live on, and the lines of responsibility between developer/operations/infrastructure blurring daily, "Full Stack" means different things in different contexts and has become a somewhat ambiguous term.
        <br>So when I say "full stack", I simply mean I am comfortable enough within a range of responsibilities to jump in and be useful, i.e. from system administration, infrastructure, devops, orchestration, to backend server implementations and business logic all the way to frontend web frameworks and design.
        <br>I created the <a href="/system">System</a> application to more tangibly give a wholistic impression of where I can work, and with which technologies I created the system that floats this website. 
				</p>
{{end}}

{{define "content"}}
{{template "article" .}}
{{end}}
