{{define "content"}}
	<div class="content" >
		<main >
			<article class="home-system" >
				<a href="/system" >
					<h5 class="title" >
						System
					</h5>
					<p>
						Navigate and learn about my system's conceptual architecture
					</p>
				</a>
			</article>
			<article class="home-quick-start" >
				<a href="/" >
					<h5 class="title" >
						System Quick-Start
					</h5>
					<p>
						Quick introduction to how the system map works and how you can interact with it
					</p>
				</a>
			</article>
			<article class="home-about" >
				<a href="/about" >
					<h5 class="title" >
						About
					</h5>
					<p>
						A brief bio about myself and my journey as a software developer
					</p>
				</a>
			</article>
			<article class="home-resume" >
				<a href="/" >
					<h5 class="title" >
						Resume
					</h5>
					<p>
					Just to take a look or optionally download
					</p>
				</a>
			</article>
		</main>
	</div>
{{end}}
