{{define "content"}}
	<div class="content" >
		<main >
			<article class="home-system" >
				<a href="/system" >
				<a class="lifter" href="/system" >
					<h5 class="title" >
						System
					</h5>
					<p>
						Navigate and learn about my system's conceptual architecture
					</p>
				</a>
			</article>
			<article class="home-about" >
				<a class="lifter" href="/about" >
					<h5 class="title" >
						About
					</h5>
					<p>
						A brief bio about myself and my journey as a software developer
					</p>
				</a>
			</article>
			<article class="home-resume" >
				<a class="lifter" href="/assets/resume.pdf" >
					<h5 class="title" >
						Resume
					</h5>
					<p>
						Some of my most recent experiences and skill set
					</p>
				</a>
			</article>
			<article class="home-projects" >
				<a class="lifter" href="/" >
					<h5 class="title" >
						Projects
					</h5>
					<p>
						Other projects I've been working on
					</p>
				</a>
			</article>
		</main>
	</div>
{{end}}
